@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  font-size: 60%;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font: 400 14px Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
}

#container {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  background-color: #f0f0f9;
  margin: 0 auto;
  padding: 1rem, 0;
}

.month-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.month-name h1 {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 20px;
  text-transform: uppercase;
}

.month-name span {
  font-size: 30px;
  padding: 2rem;
}

.month-name span:hover {
  cursor: pointer;
}

#cellsCalendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1rem;
  padding: 1rem;
}

.celula {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  height: 180px;
  border: 0.1px solid rgba(0, 0, 0, 0.2);
}

.yesterday > span {
  color: rgba(0, 0, 0, 0.3);
}

.yesterday > h1 {
  color: rgba(0, 0, 0, 0.3);
}

.today {
  background: #fff;
  box-shadow: 0 0 1em rgba(94, 94, 98, 0.9);
}
